# COULEURS
export MICRO_TRUECOLOR=1
export GREP_COLORS="mt=1;38;2;180;190;254"
export FZF_DEFAULT_OPTS="--height 60% --border --ansi --no-info --color=bg+:#313244,bg:#1E1E2E,spinner:#B4BEFE,hl:#B4BEFE --color=fg:#CDD6F4,header:#B4BEFE,info:#CBA6F7,pointer:#B4BEFE --color=marker:#B4BEFE,fg+:#CDD6F4,prompt:#CBA6F7,hl+:#B4BEFE --color=selected-bg:#45475A --color=border:#6C7086,label:#CDD6F4"

# EDITEUR
export VISUAL="/usr/bin/micro"
export EDITOR="$VISUAL"

# DIVERS
export ZSH_AUTOSUGGEST_MANUAL_REBIND=1
export POSH_NO_UPDATECHECK=1
export NO_AT_BRIDGE=1
export IMSETTINGS_INTEGRATE_DESKTOP=no
export IMSETTINGS_DISABLE_DESKTOP_CHECK=1
export GTK_IM_MODULE=simple 
export QT_IM_MODULE=wayland
export DRIFT_TIMEOUT=600
