# COULEURS
export MICRO_TRUECOLOR=1
export GREP_COLORS="mt=1;38;2;180;190;254"
export FZF_DEFAULT_OPTS="--height 60% --border --ansi --no-info  --highlight-line \
  --color=bg+:#283457 \
  --color=bg:#16161e \
  --color=border:#27a1b9 \
  --color=fg:#c0caf5 \
  --color=gutter:#16161e \
  --color=header:#ff9e64 \
  --color=hl+:#2ac3de \
  --color=hl:#2ac3de \
  --color=info:#545c7e \
  --color=marker:#ff007c \
  --color=pointer:#ff007c \
  --color=prompt:#2ac3de \
  --color=query:#c0caf5:regular \
  --color=scrollbar:#27a1b9 \
  --color=separator:#ff9e64 \
  --color=spinner:#ff007c "
  
# EDITEUR
export VISUAL="vim"
export EDITOR="$VISUAL"

# DIVERS
export ZSH_AUTOSUGGEST_MANUAL_REBIND=1
export POSH_NO_UPDATECHECK=1
export IMSETTINGS_INTEGRATE_DESKTOP=no
export IMSETTINGS_DISABLE_DESKTOP_CHECK=1
export GTK_IM_MODULE=simple 
export QT_IM_MODULE=wayland
