alias cat="\bat -pp"
alias bat="\bat -p"
alias ls="eza --header --icons --group-directories-first --color"
alias ll="ls -lh"
alias la="ls -alh"
alias cd="z"
alias dnfi="sudo dnf install"
alias dnfr="sudo dnf remove"
alias dnfs="sudo dnf search"
alias maj="update.sh"
alias btm="btm --hide_k_threads"
alias htop="btm --basic --battery" 
alias m="micro"
alias journalctl="journalctl --no-hostname"
alias log="journalctl -f"
alias meteo="/usr/local/bin/stormy"
alias bathelp='bat --plain --language=help'
alias free="mem.sh --free"
alias mem="mem.sh --noexplain"
alias duf="duf -only local,network"
alias ncdu="ncdu --color dark"
alias inxihw="sudo inxi -y 150 -MCfmnDuBAEJjPol --edid"
alias inxisw="inxi -y 150 -Sirs -xw cugnaux,FRA --wu m -tcm10"
alias inxifull="sudo inxi -y 150 -exxx -v 8 -xw cugnaux,FRA --wu m -tcm10"
alias inxibasic= "inxi -y 150 -xw cugnaux,FRA --wu m -b"
alias wget="axel"
alias psmem="ps.sh --mem --newbie"
alias psmem0="ps.sh --mem --0 --watch 0 --newbie"
alias psmem10="ps.sh --mem --10 --watch 0 --newbie"
alias psmem20="ps.sh --mem --20 --watch 0 --newbie"
alias psmem40="ps.sh --mem --40 --watch 0 --newbie"
alias pscpu="ps.sh --cpu --newbie"
alias pscpu0="ps.sh --cpu --0 --watch 0 --newbie"
alias pscpu10="ps.sh --cpu --10 --watch 0 --newbie"
alias pscpu20="ps.sh --cpu --20 --watch 0 --newbie"
alias pscpu40="ps.sh --cpu --40 --watch 0 --newbie"
alias pspid="ps.sh --pid --newbie"
alias pspid0="ps.sh --pid --0 --watch 0 --newbie"
alias pspid10="ps.sh --pid --10 --watch 0 --newbie"
alias pspid20="ps.sh --pid --20 --watch 0 --newbie"
alias pspid40="ps.sh --pid --40 --watch 0 --newbie"
alias cpv="rsync -az --info=progress2 --stats"
alias less="\bat -p --color always"
alias rm="rm -Iv --preserve-root"
alias cp="cp -iv"
alias mv="mv -iv"
alias ln="ln -sfvi"
alias chmod="chmod -v --preserve-root"
alias chown="chown -v --preserve-root"
alias chgrp="chgrp -v --preserve-root"
alias mkdir="mkdir -pv"
alias rmdir="rmdir -v"
alias mount="mount -v"
alias install="install -v"
alias shred="shred -v"
alias dd="echo  Attention commande dangereuse; echo  Entrée pour valider la commande ; echo  CTRL+C pour annuler ; read -r ; dd"
alias rg="rg --colors 'match:none' --colors 'match:fg:0xFA,0xB3,0x87' --colors 'match:style:bold'"
alias watch="watch --color -n 1"
alias lsblk="lsblk -f"
alias FS="df -h -x tmpfs -x devtmpfs -x overlay -x efivarfs --output=target,source,fstype,size,used,avail,pcent";
alias ping="grc ping -c5 -i 0.2"
alias lt="eza -T --color --icons -L 4"
alias lt1="eza -T --color --icons -L 1"
alias lt2="eza -T --color --icons -L 2"
alias lt3="eza -T --color --icons -L 3"
alias lt4="eza -T --color --icons -L 4"
alias lt5="eza -T --color --icons -L 5"
alias lt6="eza -T --color --icons -L 6"
alias lt7="eza -T --color --icons -L 7"
alias lt8="eza -T --color --icons -L 8"
alias lt9="eza -T --color --icons -L 9"
alias failedUnits="systemctl --failed && systemctl --user --failed"
alias exitedUnits="systemctl list-units --state exited"
alias runningUnits="systemctl list-units --state running"
alias mountedUnits="systemctl list-units --state mounted"
alias allUnits="systemctl list-units"
alias waitingUnits="systemctl list-units --state waiting"
alias timers="systemctl list-timers --all"
alias usertimers="systemctl --user list-timers --all"
alias sl="sudo systemctl"
alias sls="sudo systemctl status"
alias slsu="systemctl --user status"
alias slDR="sudo systemctl daemon-reload"
alias s="source"
alias _="sudo "
