export MICRO_TRUECOLOR=1
export FZF_DEFAULT_OPTS="--color=bg+:#313244,bg:#1E1E2E,spinner:#B4BEFE,hl:#B4BEFE --color=fg:#CDD6F4,header:#B4BEFE,info:#CBA6F7,pointer:#B4BEFE --color=marker:#B4BEFE,fg+:#CDD6F4,prompt:#CBA6F7,hl+:#B4BEFE --color=selected-bg:#45475A --color=border:#6C7086,label:#CDD6F4"
export EDITOR="/usr/bin/micro"
export VISUAL="/usr/bin/micro"
export GREP_COLORS="mt=1;38;2;180;190;254"

