email="olivier.lorillu@proton.me"
password="***EnCrYpTed***"

# option -4 : (décommentez ci-dessous pour activer)
#forcednf4="yes"

# option -5 : (décommentez ci-dessous pour activer)
#forcednf5="yes"

# option -L : (décommentez ci-dessous pour activer)
#changelog="yes"

# option -s : (décommentez ci-dessous pour activer) INFO : le mode "-v" permet de passer outre ce réglage.
silent="yes"

# option -F : (décommentez ci-dessous pour activer)
#noflatpak="yes"

# option -l : (décommentez ci-dessous pour activer)
limitlog="yes"

# option -p : (décommentez ci-dessous pour activer) INFO : le mode "-P" permet de passer outre ce réglage.
#poweroff="yes"

# option -m : (décommentez ci-dessous pour activer) INFO : le mode "-M" permet de passer outre ce réglage.
#notif_email="yes"

# option -B : (décommentez ci-dessous pour activer) INFO : le mode "-b" permet de passer outre ce réglage.
#nocacheupd="yes"

# option -i : (décommentez ci-dessous pour activer)
interactive="yes"

